
/*---------------------------------------------------------------

	RESET
	
		Resetting the styles overrides all default browswer
		styles. This particular sheet was developed
		by Eric Meyer (www.meyerweb.com)
		
---------------------------------------------------------------*/

/* Do not add sup and sub to the reset list below, they will not resize properly */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
:focus {outline: 0;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
table {border-collapse: collapse; border-spacing: 0;}

/*------------------- HTML5 for IE ----------------------------*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/*-------------------------------------------------------------*/

body {
	/*font-family: verdana, arial, helvetica, sans-serif;*/
	font-family: "proxima-nova", sans-serif;
	font-size: 62.5%;
	line-height: 1;
	text-align: center;
}
   
p {
	font-size: 1.6em; /*1.4em*/
	line-height: 1.6;
}
  
p.quote {
	font-size: 1.4em; /*1.2em*/
	line-height: 1.6;
	margin: 0;
	padding: 15px 0 0 0;
}

/*a, a:active, a:visited {
	border-bottom: 1px solid #c3e0f5;*/ 

a {
	border-bottom: 1px dotted #e5dbd1;
	color: #8c633a; /*916c47*/
	text-decoration: none;
}
  
a:hover {
	border-bottom: 1px dotted #931e12;
	color: #931e12;
	text-decoration: none;
}
  
img {
	margin: 0;
	padding: 0;
	border: 0;
}
  
img.alignLeft, img.imageAlignLeft {
	margin: 0;
	padding: 0 15px 0 0;
	float: left;
}
  
img.alignRight, img.imageAlignRight {
	margin: 0;
	padding: 0 0 0 15px;
	float: right;
}

img.rss {
	padding: 0 3px 0 0;
	vertical-align: top;
}
  
h1 {
	font-family: "chaparral-pro", "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 2.5em; /*2em*/
	/*font-weight: normal;*/
	font-weight: 400;
	margin: 0;
	/*padding: 0 0 15px 0;*/
	padding: 0 0 12px 0;
}
  
h2 {
	font-family: "chaparral-pro", "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 2em; /*1.8em*/
	/*font-weight: normal;*/
	font-weight: 400;
	margin: 0;
	padding: 0;
	line-height: 1;
}
  
h3 {
	font-family: "chaparral-pro", "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 1.6em;
	font-weight: normal;
	margin: 0;
	padding: 0;
}
  
h4 {
	font-size: 1.4em;
	font-weight: normal;
	margin: 0;
	padding: 0;
}
  
li {
	font-size: 1.6em; /*1.4em*/
	margin: 0;
	padding: 0;
	/*list-style: none;*/
	background: none;
}

ul {
	margin: 0;
	padding: 0;
}

ol {
	list-style: decimal;
	padding: 0 0 0 20px;
}

ul.thumbnailList {
	list-style: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	}

ul.thumbnailList li {
	background: none !important;
	list-style-image: none;
	margin: 0;
	padding: 0;
	height: 90px;
	clear: left;
	}
	
ul.thumbnailList li.last {
	height: 75px;
	}

ul.thumbnailList li img {
	float: left;
	border: 0;
	margin: 0;
	padding: 0;
	}
	
ul.thumbnailList li p {
	font-size: 1.0em;
	line-height: 1.5;
	margin: 0 0 0 90px;
	padding: 0;
	}
  
/*---------------------------------------------------------------

LAYOUT

---------------------------------------------------------------*/

/* superWrapper background images and colors */
.bridge {
	background: url(superWrapperBkgdAllRed.gif) repeat-x top left;
	background-color: #941e12;
}

.hasCampaign, .wide{
	background: url(superWrapperBkgd.gif) repeat-x top left;
	background-color: #fff;
}

.profProg {
	background: url(superWrapperBkgd.gif) repeat-x top left;
	background-color: #fff;
	/*background: url(superWrapperBkgdAllRed.gif) repeat-x top left;*/
	/*background-color: #941e12;*/ /*red*/
	/*background: url(superWrapperBkgdProf.gif) repeat-x top left;*/
	/*background-color: #555;*/ /*grey*/
}

.superWrapper {
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

.layoutWrapper {
	background-color: #fff;
	margin: 0 auto;
	padding: 0;
	width: 950px;
	overflow: hidden;
}

.bannerContainer {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 85px; /* Need height of 85 px so red background lines up with navigation */
	background-color: #fff;
	overflow: hidden;
}

.bannerContainer .banner {
	background-color: #fff;
	margin: 0 auto;
	padding: 0; 
	width: 950px; /*906*/
	height: 75px;                            
}
  
.lockup {
	margin: 0;
	padding: 0;
	float: left;
}

#cu-identity-wrap {
	height: 50px;
	background: #fff;
	display: none; /* hide for non-mobile devices*/
}
	
#cu-identity-content {
	position: relative;
	margin: 0 auto;
	width: 950px;
	height: 50px;
	background: url(/responsiveTest/images/cornell.gif) no-repeat;
}
	
#cu-identity-content a {
	position: absolute;
	display: block;
	border: none;
	/* hide text link */
	text-indent: -1000em;
	text-decoration: none;
}
	
#cu-identity-content img {
	display: none;
}

#insignia-link {
	width: 170px;
	height: 45px;
}
	
#search-form {
	position: absolute;
	top: 18px;
	right: 50%;
	margin-right: -460px;
	width: 300px;
}
	
#search-form form {
	margin: 0;
	padding: 0;
	text-align: right;
}
	
#search-form label {
	color: #000;
	font-size: 1.1em;
}
	
#search-form-query {
	padding: 3px;
	width: 145px;
	height: 14px;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight: normal;
	color: #000;
	background: #f3f3f3 url(header_search.gif) repeat-x top left;
	vertical-align: middle;
}
	
#search-form-submit {
	padding: 0px 2px 3px 2px;;
	border-top: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #b3b3b3;
	border-bottom: 1px solid #b3b3b3;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: bold;
	color: #000;
	background: #f2f2f2;
	vertical-align: middle;
}

div.mobile-search {
  display: block;
  float: right;
}
  
.ILRis {
	/*background: url(banner-about.jpg) no-repeat top left;*/
	margin: 0;
	padding: 0;
	height: 398px; /*358px*/
	position: relative; /* parent div requires a relative positioning */
	/*z-index: 10;*/
}
  
.ILRis img {
	margin: 0;
	position: relative;
	z-index: 15;
}
  
.ILRis a.learnMore {
	/*background-color: #501b16; */
	background-color: #941e12; 
	border: 1px solid #896557;
	margin: 0;
	padding: 0;
	width: 110px;
	height: 25px;
	position: absolute;
	/*top: 240px;
	left: 98px;*/
	top: 300px;
	left: 90px;
	z-index: 20;
	display: block;
	color: #fff;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 1px #444;
	border-radius: 10px;
	-moz-border-radius: 10px;
	box-shadow: 0px 3px 4px #000;
	-webkit-box-shadow: 0px 3px 4px #000;
}

.ILRis a.learnMoreAltPos {
	background-color: #941e12; 
	border: 1px solid #896557;
	margin: 0;
	padding: 0;
	width: 110px;
	height: 25px;
	position: absolute;
	top: 163px;
	left: 451px;
	z-index: 20;
	display: block;
	color: #fff;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 1px #444;
	border-radius: 10px;
	-moz-border-radius: 10px;
	box-shadow: 0px 3px 4px #000;
	-webkit-box-shadow: 0px 3px 4px #000;
}

.ILRis a.learnMore:hover, .ILRis a.learnMoreAltPos:hover {
	background-color: #700303;
}

.ILRis-bridge {
	display: none;
}

div.illustration-about {height: 398px; background: url(banner-about.jpg) no-repeat top left;}
div.illustration-current {height: 398px; background: url(banner-current.jpg) no-repeat top left;}
div.illustration-prospective {height: 398px; background: url(banner-prospective.jpg) no-repeat top left;}
div.illustration-alumni {height: 398px; background: url(banner-alumni.jpg) no-repeat top left;}
div.illustration-professional {height: 398px; background: url(banner-professional.jpg) no-repeat top left;}


.ILRisMobile {
	display: none; /*banner for mobile devices*/
}
	
/*---------------------------------------------------------------
TABBED NAVIGATION
-----------------------------------------------------------------*/
nav.tabs {
	/*background-color: #40240a;*/
	background: url(navBkgd.gif) repeat-x top left;
	background-color: #ded7ba;
	margin: 0;
	padding: 0;
	height: 40px; /* Needs specific height (40px) so red background lines up properly */
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 25;
	overflow: hidden;
}

nav.tabs ul li {
	font-family: "chaparral-pro", "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 1.9em; /*1.8em*/
	/*padding: 10px 20px 11px 20px;*/ /* Top and bottom must not change or red background will not line up properly */
	padding: 10px 20px 10px 20px; /* Top and bottom must not change or red background will not line up properly */
	float: left;
}
  
nav.tabs ul li a {
	border-bottom: none;
	color: #000;
}

nav.tabs ul li a:hover {
	border-bottom: none;
}
  
.welcome, .future, .current, .alumni, .professional {
	background: url(tabBkgd.gif) repeat-x top left;
	background-color: #ded7ba;
	float: left;
}
  
.selected {
	background: url(tabSelectedBkgd.gif) repeat-x top left;
	background-color: #fff;
	border-right: 1px solid #998675;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #998675;
}
  
.borders {
	border-right: 1px solid #998675;
	border-bottom: 1px solid #c7b29a;
}
  
/*---------------------------------------------------------------

CONTENT

-----------------------------------------------------------------*/

.content {
	background: url(contentBkgd257.gif) repeat-y top left;
	background-color: #fff;
	margin: 0;
	padding: 0;
	width: 950px;
	text-align: left;
	position: relative;
	z-index: 2;
	overflow: hidden;
}

.bridge .content {
	background: url(contentBkgd257black.gif) repeat-y top left;
}

.profProg .content {
	/*background: url(contentBkgd350gray.gif) repeat-y top left;*/
	background: url(contentBkgd350black.gif) repeat-y top left;
}

.wide .content {
	background-image: none;
}

.content .mission {
	background: #fff;
	margin: 0;
	padding: 30px 40px 0 40px;
	width: 870px;
	height: 120px;
	float: left;
}

.content .mission p {
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1.75;
}
  
/*---------------------------------------------------------------
MAIN CONTENT
-----------------------------------------------------------------*/
.content .mainContent {
	background: #fff;
	margin: 0;
	padding: 0;
	width: 693px;
	float: left;
}

.bridge .mainContent {
	background: url(bridgeBkgd.gif) repeat-x top left;
}

.profProg .mainContent {
	width: 610px; /*600*/
}
  
.mainContent .main {
	margin: 0;
	/*height: 560px;*/ /* might not need after all content is added */
	overflow: hidden;
}

.bridge .main {
	padding: 35px 35px 30px 40px; 
}
  
.hasCampaign .main {
	padding: 40px 35px 30px 40px;
}
  
.profProg .main {
	padding: 0 35px 30px 40px;
}

/*Red links on Professional home page*/
/*.profProg .main a {
	border-bottom: 1px solid #e5cfcf;
	color: #b31b1b;
	text-decoration: none;
}*/

/*.profProg .main a:hover {
	border-bottom: 1px solid #931e12;
	color: #931e12;
	text-decoration: none;
}*/
  
.wide .main {
	padding: 40px 35px 30px 40px;
}
  
.main .leftShort {
	margin: 0;
	padding: 10px 40px 0 0;
	width: 185px;
	float: left;
}
  
.main .rightLong {
	margin: 0;
	padding: 10px 0 0 0;
	width: 375px;
	float: left;
}

.main .videoLeft {
	margin: 0;
	padding: 0;
	width: 390px; /*375*/
	float: left;
}

.main .videoLeft iframe {
	width: 360px;
	height: 203px;
	margin: 0;
	padding: 0;
}

.main .videoRight {
	margin: -20px 0 0 0;
	padding: 0 0 0 20px;
	width: 200px; /*185*/
	float: left;
}

.main .videoRight p {
	font-size: 1.4em;
}
  
.main .leftEven {
	margin: 0;
	/*padding: 10px 40px 0 0;*/
	padding: 0 40px 0 0;
	width: 270px;
	float: left;
}
  
.main .rightEven {
	margin: 0;
	/*padding: 10px 0 0 0;*/
	padding: 0;
	width: 290px;
	float: left;
}
  
.main .leftNarrow {
	margin: 0;
	padding: 25px 40px 0 0;
	width: 225px;
	float: left;
}
  
.main .rightNarrow {
	margin: 0;
	padding: 25px 0 0 0;
	width: 270px;
	float: left;
}

.main .leftThumbnail {
	margin: 0;
	padding: 0 15px 0 0;
	width: 100px;
	float: left;
}
  
.main .rightThumbnail {
	margin: 0;
	padding: 0;
	width: 500px;
	float: left;
}

.main .clear {
	clear: both;
}

.main h1.underline {
	border-bottom: 1px solid #c7b29a;
	display: block;
	padding: 0;
	margin: 0 0 15px 0;
}

.main p.nopadding {
	padding: 0 0 5px 0;
}

.main h2 {
	padding: 0 0 15px 0;
}

.main ul+h3 {
	padding-top: 10px;
}

.main h3 {
	padding: 0 0 15px 0;
}
  
.main .leftShort p, .main .rightLong p, .main .leftNarrow p, .main .rightNarrow p {
	line-height: 1.4;
}
  
.main .leftShort h1, .main .rightLong h1, .leftNarrow h1, .main .rightNarrow h1 {
	margin: 0 0 12px 0;
}

.main .leftEven h1, .main .rightEven h1 {
	font-size: 2em; /*1.6em*/
	/*font-weight: normal;*/
	font-weight: 400;
	line-height: 1;
	padding: 0 0 15px 0;
}

.main .leftEven h1.topPadding, .main .rightEven h1.topPadding {
	padding: 20px 0 15px 0;
}

.main .leftNarrow h2, .main .rightNarrow h2 {
	font-size: 2em; /*1.5em*/
	/*font-weight: normal;*/
	font-weight: 400;
	line-height: 1.4;
	margin: 0 0 6px 0;
}

.main .leftNarrow h2.nopadding, .main .rightNarrow h2.nopadding {
	font-size: 2em; /*1.5em*/
	/*font-weight: normal;*/
	font-weight: 400;
	line-height: 1.4;
	margin: 0;
	padding: 0 0 10px 0;
}

.main .leftNarrow h2.nopadding a, .main .rightNarrow h2.nopadding a {
	color: black !important;
}


.main img.collegeMap {
	width: 550px;
	height: 400px;
}
  
.main img.divider {
	padding: 25px 0 20px 0;
	margin: 0 0 0 -25px;
	width: 644px;
	height: 1px;
}
  
.main img.dividerTop { /*used on professional programs home page*/
	padding: 0;
	margin: 0 0 0 -25px;
	width: 550px;
	height: 1px;
}

.bridge .main img.divider {
	padding: 25px 0 20px 0;
	margin: 0 0 0 -25px;
	width: 644px;
	height: 1px;
}

.profProg .main img.divider {
	padding: 25px 0 20px 0;
	margin: 0 0 0 -25px;
	width: 550px;
	height: 1px;
}

.main p + ul {
	margin-top: 15px;
}
  
.main ul {
	margin: 0;
	padding: 0;
}
  
.main ul li {
	background: url(squareBulletBrown.gif) no-repeat 0 6px;
	font-size: 1.4em; /*1.2em*/
	line-height: 1.4;
	padding: 0 0 6px 10px;
}

.main ul li.noBullets {
	background: none;
	padding: 0 0 6px 0;
}

.main ul li.noBullets img {
	vertical-align: text-top;
	padding-right: 4px;
}

/*Twitter feed on Alumni home page - removes brown bullet*/
.main ul.tweet_list li {
	background: none;
	padding: 0 0 10px 0;
}

/*Used on prospective-students.html's .leftEven and .righEven divs to give the page some height*/
.minHeight {
	min-height: 350px; /*270*/
}


/*---------------------------------------------------------------
SECONDARY
-----------------------------------------------------------------*/
.mainContent .secondary {
	background: url(secondaryBkgd.gif) repeat-x top left;
	background-color: #f4f2e9; /*e7e1cc*/ /*ded7ba*/
	color: #000;
	margin: 0;
	padding: 0 0 0 40px;
	height: 270px;
	overflow: hidden;
}
  
.secondary h2 {
	font-size: 2em; /*1.6em*/
	/*margin: 0 0 15px 0;*/
	margin: 0 0 11px 0;
}
  
.secondary h3 {
	font-size: 2em; /*1.4em*/
	/*margin: 0 0 15px 0;*/
	margin: 0 0 11px 0;
}
  
.secondary .navigation {
	margin: 0;
	padding: 20px 0 0 0;
	width: 300px;
	float: left;
}
  
.secondary .navigation a {
	border-bottom: none;
	color: #000;
}

.secondary .navigation a:hover {
	border-bottom: 1px dotted #931e12;
	color: #931e12;
}
  
.secondary .navigation img {
	margin: 0 0 0 -25px;
	padding: 0 0 10px 0;
}

.secondary .ILRpeople {
	background-color: #40240a; /*f4f2e9*/
	margin: 0;
	padding: 0;
	width: 353px;
	height: 279px;
	float: left;
}
  
/*---------------------------------------------------------------
ASIDE
-----------------------------------------------------------------*/
.content aside {
	margin: 0;
	padding: 0;
	width: 257px;
	float: left;
}

.profProg aside {
	width: 340px; /*350*/
}
 
aside p {
	font-size: 1.4em; /*1.2em*/
	color: #fff;
	line-height: 1.2;
	margin: 0;
	padding: 0 0 20px 0;
}

aside a, aside a:hover {
	border-bottom: none;
}
  
aside h1 {
	border-bottom: 1px solid #a67c52; /*c69c6d*/
	margin-bottom: 10px;
	padding-bottom: 1px;
	display: block;
}
  
aside h2 {
	color: #fff;
	font-size: 1.8em;
	line-height: 1.8;
	margin-bottom: 10px;
}

aside h3 {
	color: #fff;
	font-size: 1.4em;
	line-height: 1.8;
}
  
aside .events {
	background-color: #fff;
	border-right: 1px solid #736357;
	border-bottom: 1px solid #736357;
	border-left: 1px solid #736357;
	margin: 0;
	padding: 0;
}

aside .events .calendar {
	background-color: #ded7ba;
	border: 5px solid #fff;
	margin: 0;
	padding: 20px 20px 0 20px;
	width: 205px;
	/*height: auto;*/ /*255*/
}
  
.calendar p {
	padding-top: 10px;
}
  
.calendar p a {
	color: #55422c;
	border-bottom: 1px dotted #c3b99e;
}

.calendar p a:hover {
	color: #9e764d;
	border-bottom: 1px dotted #9e764d;
}

.calendar h1 {
	border-bottom: 1px solid #c69c6d;
}
  
.calendar li {
	font-size: 1.4em;
	line-height: 1.3; /*1.2*/
	margin: 0;
	padding: 0 0 10px 50px;
}

.calendar li a {
	color: #966e45; /*9e764d*/
	border-bottom: 1px dotted #c3b99e;
}

.calendar li a:hover {
	color: #362f2d;
	border-bottom: 1px dotted #55422c;
}
  
.calendar li em {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #55422c;
	font-size: 1.4em;
	font-style: normal;
	margin: 0 0 0 -50px;
	padding-right: 15px;
	width: 30px;
	height: 20px;
	display: inline-block;
} 
  
aside .gift {
	background: url(giftBkgd.gif) repeat-x top left;
	background-color: #fff; /*f4f2e9*/
	border-bottom: 1px solid #736357;
	margin: 0;
	padding: 0;
}

aside .infoBox {
	background: url(newsBkgd.gif) repeat-x top left;
	background-color: #af9d84; /*40240a*/ 
	margin: 0;
	padding: 25px 20px 30px 20px;
}

aside .infoBoxBridge {
	margin: 0;
	padding: 20px 20px 25px 20px;
}

/*Adds a gray border to the bottom of .infoBoxBridge*/
.withBottomBorder {
	border-bottom: 6px solid #333;
}

aside .infoBoxBridge h3 {
	color: #ded7ba;
	font-size: 1.8em; /*1.6em*/
	line-height: 1.1;
	padding: 0 0 10px 0;
}

aside .infoBoxBridge li, aside .infoBoxProf li {
	line-height: 1.2;
	margin: 0;
	padding: 0 0 10px 0;
}

aside .infoBoxBridge li {
	color: #fff;
}

aside .infoBoxProf {
	border-bottom: 1px solid #636363;
	margin: 0;
	padding: 25px 20px 20px 20px;
}

aside .infoBoxProf h2 {
	font-size: 2.3em;
	font-weight: 400;
	border-bottom: none;
	color: #ded7ba;
	line-height: 1.1;
}

aside .infoBoxProf h3 {
	font-family: "chaparral-pro", "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 1.8em;
	font-style: italic;
	color: #ded7ba;
	line-height: 1.1;
	padding: 0 0 3px 0;
}

aside .infoBoxProf p {
	font-size: 1.4em;
	line-height: 1.5;
}

aside .infoBoxProf a, aside .infoBoxBridge a {
	color: #fff;
	border-bottom: 1px dotted #555;
}

aside .infoBoxProf a:hover, aside .infoBoxBridge a:hover {
	color: #ccc;
	border-bottom: 1px dotted #ccc;
}

aside .news {
	background: url(newsVideoBkgd.gif) repeat-x top left;
	background-color: #99886e; /*a6947c*/ /*af9d84*/
	margin: 0;
	padding: 25px 20px 30px 20px;
}

aside .spotLight {
	margin: 0;
	padding: 0;
}

aside .spotLight img {
	width: 340px;
	height: 200px;
}

aside .video {
	background: url(newsVideoBkgd.gif) repeat-x top left;
	background-color: #99886e; /*a6947c*/ /*af9d84*/
	border-bottom: 1px solid #736357; /*998675*/
	margin: 0;
	padding: 25px 20px 0 20px;
	height: auto; /*265*/ /*275*/
}

aside .news a, aside .video a {
	color: #fff;
}

aside .news a:hover, aside .video a:hover {
	color: #362f2d; /*ebe6d3*/
	border-bottom: 1px dotted #baa586;
}
  
aside .video img {
	padding: 0 0 5px 0;
}

aside .video em.duration {
	font-size: .9em;
}

.brownBackground {
	background: url(secondaryBkgd.gif) repeat-x top left;
	background-color: #f4f2e9;
	margin: -270px auto 0 auto; /* top margin must match height of .mainContent .secondary */ /*-130*/
	padding: 0;
	width: 100%;
	height: 270px; /* must match height of .mainContent .secondary */ /*-130*/
	position: relative;
	z-index: 1;
	clear: both;
}
  
/*---------------------------------------------------------------

SITE NAVIGATION

-----------------------------------------------------------------*/

div#siteNavContainer {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #fff; /*fff*/
	overflow: auto;
}

div#siteNavContainer nav {
	width: 936px;
	width: 850px;
	height: 24px; /* Needs specific height so red background lines up properly */
	background-color: #fff;
	margin: 0;
	padding: 0;
	float: left;
}

div#mainNav {
	width: 836px;
	margin: 0;
	padding: 0;
	float: left;
}

div#mainNav ul {
	margin: 0 0 0 12px;
	padding: 0;
}

div#mainNav ul li {
	margin: 0;
	padding: 0;
	list-style: none;
	background: none;
	float: left;
	font-size: 1.2em;
}

div#mainNav ul li#toggleMenu {
	display: none;
}

div#mainNav ul li.rightLink {
	margin: 0;
	padding: 0;
	float: left;
}

div#mainNav ul li a {
	border: none;
	display: block;
	/*float: left;*/
	font-weight: 600;
	font-size: 1.2em;
	margin: 0;
	padding: 0 10px 10px 10px;
	color: #2d4063;
	text-align: center;
	text-decoration: none;
}

div#mainNav a:hover, div#mainNav a:focus, div#mainNav a:active {
	color: #a61919;
}

div#siteNavContainer .socialNetworks {
	height: 24px;
	margin: 0;
	padding: 0;
	float: right;
}

div#siteNavContainer .socialNetworks a {
	border: none;	
}

.socialIcon {
	margin: 0 0 0 2px;
	padding: 0;
	width: 21px;
	height: 20px;
	display: inline-block;
	background-image: url(social-sprite-small.gif);
	background-color: #fff;
	border: none;
}
	
.facebook {background-position: 0 0;}
	
.youTube {background-position: -21px 0;}
	
.twitter {background-position: -42px 0;}
	
/*---------------------------------------------------------------

FOOTER

-----------------------------------------------------------------*/	

footer {
	background: url(footerBkgd.gif) repeat-x top left;
	background-color: #363636;
	/*margin: 0 auto;*/ /*change*/
	padding: 0;
	/*width: 100%;*/ /*change*/
	min-width: 950px; /*change*/
	width: auto; /*change*/
	clear: both; /*change*/
}
  
.footerContent {
	margin: 0 auto;
	padding: 0;
	width: 950px;
	text-align: left;
	overflow: auto;
}
  
.footerContent p {
	color: #acacac;
}
	
.footerContent a {
	border-bottom: 1px dotted #464646;
	color: #acacac;
}

.footerContent a:hover {
	border-bottom: 1px dotted #fff;
	color: #fff;
}
  
.footerContent ul li {
	color: #acacac;
	font-size: 1.6em; /*1.4em*/
	line-height: 1.8;
	/*padding: 0 30px 0 0;*/
}

.footerBrand {
	margin: 0;
	padding: 2px 0 0 40px;
	width: 260px;
	float: left;
}

.bridge .footerBrand {
	margin: 0;
	padding: 2px 0 0 0;
	width: 300px;
	float: left;
}

.footerBrand a, .footerBrand a:hover {
	border: none;
}

.footerNav1 {
	margin: 0;
	padding: 20px 0 40px 0;
	width: 170px;
	float: left;
}
  
.footerNav2 {
	margin: 0;
	padding: 20px 0 40px 0;
	width: 220px;
	float: left;
}

.footerNav3 {
	width: 241px;
	margin: 0;
	padding: 0;
	float: left;
}

.footerTranslate {
	/*width: 120px;*/
	margin: 0;
	padding: 25px 0 0 25px;
	float: left;
}

.flag {
	width: 18px;
	height: 12px;
	display: inline-block;
	background-image: url(/images/Flags/flag-sprite.gif);
	background-color: #000;
	color: transparent;
	vertical-align: bottom;
	border: none !important;
	margin-bottom: 3px;
}
	
.french {background-position: 0 0;}
	
.german {background-position: -19px 0;}
	
.italian {background-position: -38px 0;}
	
.portuguese {background-position: -57px 0;}
	
.spanish {background-position: -76px 0;}
	
.japanese {background-position: -95px 0;}
	
.korean {background-position: -114px 0;}
	
.chinese {background-position: -133px 0;}
	
.czech {background-position: -152px 0;}
	
.arabic {background-position: -171px 0;}

.footerCopyright {
	margin: 40px 0 0 0;
	padding: 0 0 0 25px;
	/*float: left;*/
	text-align: center;
}
  
/*---------------------------------------------------------------

MEDIA QUERIES

---------------------------------------------------------------*/  

/* widescreen monitor */ 
/*@media screen and (max-width: 1200px) {
	body {font-family: Georgia, "Times New Roman", Times, serif;}
}*/

/* typical desktop monitor */ 
/*@media screen and (max-width: 1024px) {
	body {font-family: Georgia, "Times New Roman", Times, serif;}
}*/

/* iPad: portait mode*/
/*@media screen and (max-width: 768px) {
	body {font-family: Impact;}
}*/

/* small tablets: portait mode*/
/*@media screen and (max-width: 768px) {
	body {font-family: Impact;}
}*/

/* typical smart phone: landscape mode*/
/*@media screen and (max-width: 520px)*/
@media screen and (max-width: 600px) {
.ILRisMobile a, .ILRisMobile a:hover {border-bottom: none;}
hr {display: none;}
.superWrapper {background: none; margin: 0;}
.layoutWrapper {margin: 0; width: 100%;}
.bannerContainer {display: none;}
/*.bannerContainer {height: 75px;}
.bannerContainer .banner {width: 100%; height: auto;}*/
#cu-identity-wrap {display: inherit;}
#cu-identity-content {margin: 0 0 0 10px; width: auto;}
/*#search-form {position: relative; top: 0; right: 0; width: 100%; float: none; clear: left; }*/
#search-form {display: none;}
.toggle-search {float: right;  width: 38.5px;  height: 35.6px; margin: 6px 5px 0 0; border: 1px solid #ddd; background: #fff url('//c.o0bg.com/rw/SysConfig/WebPortal/BostonGlobe/Framework/images/icon-search.png') center no-repeat;}
.toggle-search.active {background: #fff url('//c.o0bg.com/rw/SysConfig/WebPortal/BostonGlobe/Framework/images/icon-arrow-down-bgred.png/') center no-repeat;}
div.mobile-search {background-color: rgba(255,255,255,0.9); position: relative; z-index: 100;}
/*.transparent {zoom: 1; filter: alpha(opacity=50); opacity: 0.5;}*/
div.mobile-search form {/*position: absolute; left: -9000px;*/ display: none;}
div.mobile-search.active {display: block; float: right; width: 100%; height: 40px; /*margin-right: 5px;*/ /*padding-right: 5px;*/ padding: 5px 5px 0 0;}
div.mobile-search.active form {/*position: relative; left: 0;*/ display: block; float: right; width: 100%; text-align: right;}
div.mobile-search.active input.mobile-submit {display: inline-block; float: right; width: 38.5px; height: 35.6px; margin-left: 5px; padding: 0; border: 1px solid #ccc; background: url('//c.o0bg.com/rw/SysConfig/WebPortal/BostonGlobe/Framework/images/icon-search.png') center no-repeat !important; background-color: #fff !important; font-size: 2em; text-indent: -9000px;}
div.mobile-search.active input.mobile-input {display: inline-block; width: 240px; margin-left: 0; border: 1px solid #ccc; font-size: 1.37em; color: #000;}

div#siteNavContainer {min-width: 100%; width: 100%; margin: 0; overflow: visible;}
div#siteNavContainer nav {width: 100%; height: 100%; margin: 0; padding: 0;}
div#siteNavContainer .socialNetworks {display: none;}
div#siteNavDivider {display: none;}

div#mainNav {min-width: 100%; width: 100%; background: #6f0f10; margin: 0;}
div#mainNav ul {margin: 0; padding: 0;}
div#mainNav ul li {width: 100%; border-bottom: 1px solid #dcdcdc; font-size: 1.2em;}
/*div#mainNav ul li:not(#toggleMenu) {width: 94%; background-color: #f0f0f0; margin: 0 auto; float: none;}*/
div#mainNav ul li:not(#toggleMenu) {background-color: #f0f0f0; margin: 0; float: none;}
div#mainNav ul li#toggleMenu {height: 85px; background: url(/responsiveTest/images/ILR-brand.gif) no-repeat top left; background-color: #6f0f10; border-bottom: none; display: inherit;}
div#mainNav ul li#toggleMenu span.gohome {height: 84px; width: 200px; display: inline-block;}
div#mainNav ul li#toggleMenu img {float: right; margin-right: 10px; padding-top: 50px;}
div#mainNav ul li.rightLink {border-bottom: none; margin-bottom: 15px;}
div#mainNav ul li a {padding: 10px 0; font-size: 1.4em; font-weight: 400;}
li#hideMe {display: none;}

.ILRis {/*background: url(banner-about-520.jpg) no-repeat top left; height: 433px;*/ display: none;}
.ILRis img {display: none;}
.ILRis a.learnMore, .ILRis a.learnMoreAltPos {display: none;}
.ILRisMobile {display: inherit;}
.ILRisMobile li {height: 40px; text-align: center;}
.ILRisMobile li.selected {border-bottom: none; background: url(tabSelectedBkgd.gif) repeat-x top left; background-color: #fff; padding-left: 0;}
.ILRisMobile li.notSelected {border-bottom: none; background: url(tabBkgd.gif) repeat-x top left; background-color: #ded7ba; padding-left: 0;}
.ILRisMobile nav.top-bar li a {font-family: "chaparral-pro", "Palatino Linotype", "Book Antiqua", Palatino, serif; color: #000;}
.ILRisMobile nav.top-bar li h1 a {font-family: "chaparral-pro", "Palatino Linotype", "Book Antiqua", Palatino, serif; color: #000;}
.ILRisMobile nav.top-bar li:not(.name) a {padding-top: 5px;}
.ILRisMobile nav.top-bar li.toggle-topbar a {background: url(/responsiveTest/images/toggleMenu-Home.gif) no-repeat top left;}
.ILRis-bridge {display: inline;}
.ILRis-bridge p {padding: 0; font-size: 0em; line-height: 0;}

div.illustration-about {height: 300px; background: url(banner-about-600.jpg) no-repeat top left;}
div.illustration-current {height: 300px; background: url(banner-current-600.jpg) no-repeat top right;}
div.illustration-prospective {height: 300px; background: url(banner-prospective-600.jpg) no-repeat top left;}
div.illustration-alumni {height: 300px; background: url(banner-alumni-600.jpg) no-repeat top left;}
div.illustration-professional {height: 300px; background: url(banner-professional-600.jpg) no-repeat top left;}


/*nav.tabs {background-color: #ded7ba; width: 100%; height: auto;}*/
/*nav.tabs ul li {border-top: 1px solid #998675; float: none;}*/
/*.welcome, .future, .current, .alumni, .professional {float: none;}*/
.selected {border-right: none; border-bottom: none; border-left: none;}
.borders {border-right: none; border-bottom: none;}
.content {border-top: 1px solid #998675; width: 100%;}
.content .mission {margin: 0; padding: 20px 10px 0 10px; width: auto; height: auto; float: none;}
.content .mainContent {width: 100%; float: none;}
.bridge .mainContent {background: url(bridgeBkgdMobile.gif) repeat-x top left;}
.mainContent .main {padding: 20px 10px 20px 10px; height: auto;}
.main .leftShort, .main .rightLong, .main .videoRight, .main .leftEven, .main .rightEven, .main .leftNarrow, .main .rightNarrow, .main .leftThumbnail, .main .rightThumbnail {padding: 20px 10px 0 0; width: 100%; float: none;}
.bridge .main .leftThumbnail {display: none;}
.bridge .main .leftEven, .bridge .main .rightThumbnail {padding: 10px 10px 0 0; width: 100%; float: none;}
.main .videoLeft {margin: 0 0 10px 0; padding-bottom: 60%; width: 100%; float: none; position: relative;} /*60% padding needed for mobile*/
.main .videoLeft iframe {width: 100%; height: 100%; position: absolute;} /*absolute position needed for mobile*/
.minHeight {min-height: 0;}
.main h1.underline {border-bottom: none;}
.main img.collegeMap {width: 100%; height: 100%;}
.main img.divider, .bridge .main img.divider, .profProg .main img.divider {margin: 0; width: 100%;}
.main img.dividerTop {display: none;}
.mainContent .secondary {border-top: 1px solid #af9d84; background: none; background-color: #fff; padding: 10px 10px 20px 0; height: auto;}
.secondary .navigation {padding: 0 10px 0 10px; width: 100%; float: none;}
.secondary .navigation img {display: none;}
.secondary .ILRpeople {display: none;}
.content aside {width: 100%; float: none;}
.profProg aside, .bridge aside {background: #000;}
.bridge aside img {display: none;}
aside h1, aside .events .calendar h1 {border-bottom: none;}
aside .events {background: none; background-color: #e7e1cc; border-top: 1px solid #af9d84; border-bottom: 1px solid #af9d84; border-left: none;}
aside .events .calendar {background-color: #e7e1cc; border: none; margin: 0; padding: 10px 10px 20px 10px; width: 100%; height: auto; box-shadow: none; -webkit-box-shadow: none;}
.calendar li {padding: 0 10px 10px 50px;}
aside .gift {width: 100%; text-align: center;}
aside .news {background: none; background-color: #e7e1cc; padding: 10px 10px 20px 10px;}
aside .spotLight img {width: 100%; height: auto;}
aside .video {background: none; background-color: #e7e1cc; border-bottom: 1px solid #af9d84; padding: 10px 0 20px 10px; height: auto;}
aside .video p, aside .news p, aside .video a, aside .news a {color: #55422c;}
.brownBackground {/*margin: 0; width: 100%; height: auto;*/ display: none;}
footer {margin: 0; min-width: 0; width: 100%}
.footerContent {padding: 10px 0 20px 10px; width: auto;}
.footerBrand, .bridge .footerBrand {padding: 0 0 10px 0; width: 100%; float: none;}	
.footerNav1, .footerNav2, .footerNav3 {padding: 0 0 10px 0; width: 100%; float: none;}
.footerTranslate {display: none;}
.footerCopyright {text-align: left; margin: 0; padding: 0 0 10px 0; width: 100%; float: none;}
}

@media screen and (max-width: 320px) {
div.illustration-about {height: 285px; background: url(banner-about-320.jpg) no-repeat top left;}
div.illustration-current {height: 285px; background: url(banner-current-320.jpg) no-repeat top left;}
div.illustration-prospective {height: 285px; background: url(banner-prospective-320.jpg) no-repeat top left;}
div.illustration-alumni {height: 285px; background: url(banner-alumni-320.jpg) no-repeat top left;}
div.illustration-professional {height: 285px; background: url(banner-professional-320.jpg) no-repeat top left;}
}

